.chatUser{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}
.chatImgContainer{
    position:relative;
    margin-right: 10px;
}
.chatOnlineImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px white;
}
.userStatusPoint{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top:2px;
    right: 2px;
}
.chatUserDisc{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}
.chatImgContainerDisc{
    position:relative;
    margin-right: 10px;
}
.chatOnlineImgDisc{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px white;
}
.userStatusPointRed{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top:2px;
    right: 2px;
}


